
<div class="container">
    <form [formGroup]="primeNumberForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="number" formControlName="userSeconds" placeholder="Enter your number">
        </div>
        
        <button  type="submit" [disabled]="!primeNumberForm.get('userSeconds').valid">Submit</button>
    </form>
    <div>
        <p style="color:red" *ngIf="primeNumberForm.get('userSeconds').touched && !primeNumberForm.get('userSeconds').valid">Enter your number of seconds</p>
        <p>Countdown: {{ countdown }}</p>
        <p>Counter: {{ counter }}</p>
        <p>Your <strong>max prime number</strong> is: {{ primeNumber }}</p>
    </div>
</div>
